@font-face {
  font-family: "Philosopher";
  src: url("fonts/philosopher/Philosopher-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Philosopher";
  src: url("fonts/philosopher/Philosopher-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Philosopher";
  src: url("fonts/philosopher/Philosopher-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Philosopher";
  src: url("fonts/philosopher/Philosopher-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

:root {
  --color-background: #3d002e;
  --color-foreground: #af74a0;
  --color-text: #e7ead7;
  --color-muted: #2B1732;
  --color-primary: #3d002e;
  --color-primary-dark: #24132A;
  --color-border: #CDABD9 ;

  --font-body: "Philosopher", sans-serif;
  --font-heading: "Philosopher", sans-serif;;
}

* {
  background-color: var(--color-background);
  font-family: var(--font-body);
  margin: 0;
  padding: .5;
}

section {
  height: 100vh;
  padding: 5rem 0;
  background-color: var(--color-background)
}

h1 {
  font-size: 60px;
  margin-left: 2.5vw;
}

h2 {
  font-size: 50px;
  margin-left: 2.5vw;
}

h3 {
  font-size: 40px;
  margin-left: 2.5vw;
}

h4 {
  font-size: 30px;
  margin-left: 2.5vw;
}

h5 {
  font-size: 25px;
  margin-left: 2.5vw;
}

h6 {
  font-size: 20x;
  margin-left: 2.5vw;
}

p {
  font-size: 15px;
  margin-left: 2.5vw;
}

a {
  font-size: 15px;
  margin-left: 2.5vw;
}

b {
  font-size: 15px;
  margin-left: 2.5vw;
}

article {
  font-size: 15px;
  margin-left: 2.5vw;
}

li {
  font-size: 15px;
  margin-left: 2.5vw;
}

span {
  font-size: 15px;
  margin-left: 2.5vw;
}

strong {
  font-size: 15px;
  margin-left: 2.5vw;
}

small {
  font-size: 15px;
  margin-left: 2.5vw;
}

.site-header {
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.brand, .brand-name, .brand-mark, .brand-top {
  background-color: var(--color-foreground);
  padding-left: 15px;
  text-decoration: none; 
  
}

.brand-mark {
  align-items: left;
  padding-left: 15px;
  font-size: 30px;
}

.brand-name {
  align-items: left;
  padding-left: 15px;
  font-size: 30px;
}

.brand-top {
  padding-left: 15px;
}

.site-header, .site-header .container {
  padding: 1rem 0;
  background-color: var(--color-foreground);
}

.nav-wrap {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: var(--color-foreground);
  margin-left: auto;
  padding-right: 15px;
}

.site-nav a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 500;
  font-size: 20px;
  background-color: var(--color-foreground);
}

.site-nav a:hover {
color: var(--color-border);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: left;
}

.hero-copy .eyebrow {
font-size: 30px;
}

.hero-copy h1 {
font-size: 70px;
}

.hero-text {
  font-size: 20px;
}

.demo-link {
  margin: 50px;
}

.button-row {
  margin-top: 2vh;
}

.feature-line {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2vh;
}

.value-section {
}

#services {
  font-size: 25px;
}

.value-grid {
  display: flex;
  padding-right: 10vw;
  padding-left: 10vw;
  justify-content: center;
  font-size: 25px;
}


.value-grid article {
  margin: 2vh 3vw;
}
